# Ignore all files
*.*

# Except
!*.txt
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ks
!*.tjs
!.gitignore
!README.md

# Images
!Ecchi.rpgmvp
!Equip.rpgmvp
!Game Over.rpgmvp
!Item.rpgmvp
!Music Book.rpgmvp
!Option.rpgmvp
!Picture Gallery.rpgmvp
!Save.rpgmvp
!Skill.rpgmvp
!Status.rpgmvp
!Command_0.rpgmvp
!Command_1.rpgmvp
!Command_2.rpgmvp
